<script src='const.js'></script> 
<script src='team.js'></script> 
<script src='parsers.js'></script> 
  
<div class="jumbotron text-center">
  <h1>Contest replay tool</h1>
  <p>This tool is still under construction</p>
</div>

<div id="menu" class="container">

  <div class="form-group">
    <label for="exampleInputEmail1">Replay id</label>
    <input type="text" class="form-control" id="replay-id" value="myreplay">
    <small class="form-text text-muted">This id will be used in the url to access the replay. Use only alphanumeric characters. Selecting an existing id will overwrite the replay.</small>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Scoreboard file 1:</span>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="file1">
      <label id="path1" class="custom-file-label" for="file1">Choose file 1</label>
    </div>
  </div>

   <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Scoreboard file 2:</span>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="file2">
      <label id="path2" class="custom-file-label" for="file2">Choose file 2</label>
    </div>
  </div>

  <div class="form-group">
    <label for="parserSelector">Select parser:</label>
    <select class="form-control" name="parserSelector" id="parserSelector">
      <option>DOMjudge-6</option>
      <option>Kattis</option>
      <option>Yandex</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Wait time (s):</span>
    </div>
    <input id="wait" type="text" class="form-control" value="0" placeholder="0" aria-label="time" aria-describedby="basic-addon1">

  <div class="input-group-prepend">
   <span class="input-group-text" id="basic-addon1">Duration (m):</span>
  </div>
  <input id="duration" type="text" class="form-control" value="300" placeholder="300" aria-label="time" aria-describedby="basic-addon1">

  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Speed factor (s):</span>
  </div>
  <input id="speed" type="text" class="form-control" value="1" placeholder="1" aria-label="time" aria-describedby="basic-addon1">
  
</div>

  <button type="button" class="btn btn-primary float-right" onclick="loadData()">Start simulation</button>

</div>


<script>

max_files = 2;

for(var i = 1; i <= max_files; i++) {
  var file_elem = document.getElementById('file' + i);
  var path_elem = document.getElementById('path' + i);
  var file = document.getElementById('file' + i).files[0]; 
  if(file) {
    document.getElementById('path' + i).innerHTML = file.name;
  }
  document.getElementById('file' + i).onchange = function(e) {
    var filename = e.target.files[0].name;
    document.getElementById('path' + e.target.id.substring(4)).innerHTML = filename;
  };
}

function loadFiles(i, data, max_files, parser) {
  console.log('loading file ' + i);
  console.log(data.duration);
  if(i > max_files) {
    var id = document.getElementById('replay-id').value;
    genRandomTimes(data.teams, data.nb_problems, duration);
    $.ajax({
      type: 'POST',
      url: 'simulator/' + id,
      contentType: 'application/json',
      data: JSON.stringify(data),
      success: function(response) {
        document.location.href = 'simulator/' + id;
        $('body').html(response);
      }
    });
    return;
  }
  if(!document.getElementById('file' + i)) {
    loadFiles(i + 1, data, max_files, parser);
    return;
  }
  var file = document.getElementById('file' + i).files[0];
  if(!file) {
    loadFiles(i + 1, data, max_files, parser);
    return;
  }
  var reader = new FileReader();
  reader.readAsText(file, "UTF-8");
  reader.onload = function (evt) {
    text = evt.target.result;
    var root = document.createElement('html');
	  root.innerHTML = text;
    if(parser == 'DOMjudge-6') {
      var data_to_add = parseDJ(root);
    } else if(parser == 'Kattis') {
      var data_to_add = parseKATTIS(root);
    } else if(parser == 'Yandex') {
      var data_to_add = parseYANDEX(root);
    }
    addData(data, data_to_add);
    console.log('loaded data. now has ' + data.teams.length + ' teams.');
    loadFiles(i + 1, data, max_files, parser);
  };
}

function addData(data, data_to_add) {
  for(var i = 0; i < data_to_add.teams.length; i++) {
    data.teams.push(data_to_add.teams[i]);
  }
  data.nb_problems = data_to_add.nb_problems;
}

function loadData() {
  var wait = parseInt(document.getElementById('wait').value);
  var duration = parseInt(document.getElementById('duration').value);
  var speed = parseInt(document.getElementById('speed').value);
  var e = document.getElementById('parserSelector');
  var parser = e.options[e.selectedIndex].value;
  var data = {teams: [], nb_problems: 0};
  data.wait = wait;
  data.duration = duration;
  data.speed = speed;  
  loadFiles(0, data, max_files, parser);
  /*
  var file = document.getElementById("file").files[0];
  var text = null;
  if (file) {
    var reader = new FileReader();
    reader.readAsText(file, "UTF-8");
    reader.onload = function (evt) {
        text = evt.target.result;
        var root = document.createElement('html');
	      root.innerHTML = text;
       
        if(parser == 'DOMjudge-6') {
          var data = parseDJ(root);
        } else if(parser == 'Kattis') {
          var data = parseKATTIS(root);
        } else if(parser == 'Yandex') {
          var data = parseYANDEX(root);
        }
        
        //simulate(parser, text, wait, duration, speed);
    }
    reader.onerror = function (evt) {
      alert('could not');
      document.createElement('div');
      document.className = "alert alert-danger";
      document.innerHTML = "Could not read the scoreboard file."
    }
  }
  */
}

function replaceAll(str, find, replace) {
    return str.replace(new RegExp(find, 'g'), replace);
}

function fillScoreboard(time, teams) {
  var curTeams = [ ];
  for(var i = 0; i < teams.length; i++) {
    var team = { };
    team.name = teams[i].name;
    team.university = teams[i].university;
    team.tries = [ ];
    team.times = [ ];
    var nbSolved = 0;
    var totalTime = 0;
    var totalTries = 0;
    for(var j = 0; j < teams[i].times.length; j++) {
      if(time >= teams[i].times[j]) {
        team.times.push(teams[i].times[j]);
        team.tries.push(teams[i].tries[j]);
        nbSolved += 1;
        totalTime += teams[i].times[j] + 20 * (teams[i].tries[j] - 1);
      } else {
        var tries = 0;
        for(var k = 0; k < teams[i].wrongTries.length; k++) {
          if(time >= teams[i].wrongTries[j][k]) {
            tries++;
            totalTries += 1;
          }
        }
        team.times.push(INF);
        team.tries.push(tries);
      }
    }
    team.totalTries = totalTries
    team.nbSolved = nbSolved;
    team.totalTime = totalTime;
    curTeams.push(team);
  }
  // sort and create table
  curTeams.sort(compareTeams);
  var rank = 1;
  var elem = document.getElementById('tablebody');
  elem.innerHTML = '';
  for(var i = 0; i < curTeams.length; i++) {
    if(i > 0 && !sameRank(curTeams[i - 1], curTeams[i])) {
      rank += 1;
    }
    var row = document.createElement('tr');

    col = document.createElement('th');
    col.innerHTML = rank;
    row.appendChild(col);

    col = document.createElement('th');
    col.innerHTML = curTeams[i].name;
    row.appendChild(col);

    col = document.createElement('th');
    col.innerHTML = curTeams[i].university;
    row.appendChild(col);

    col = document.createElement('th');
    col.innerHTML = curTeams[i].nbSolved;
    row.appendChild(col);

    col = document.createElement('th');
    col.innerHTML = curTeams[i].totalTime;
    row.appendChild(col);


    for(var j = 0; j < curTeams[i].times.length; j++) {
      col = document.createElement('th');
      if(curTeams[i].times[j] < INF) {
        col.className = 'alert alert-success text-center'
        col.innerHTML = curTeams[i].tries[j] + '/' + curTeams[i].times[j] 
      } else if(curTeams[i].tries[j] > 0) {
        col.className = 'alert alert-danger text-center'
        col.innerHTML = curTeams[i].tries[j] + ''
      }
      col.style = 'min-width: 60px;'
      row.appendChild(col);
    }
    elem.appendChild(row);
  }
}

function compareTeams(a, b) {
  if(a.nbSolved > b.nbSolved) return -1;
  if(a.nbSolved < b.nbSolved) return  1;
  if(a.totalTime < b.totalTime) return -1;
  if(a.totalTime > b.totalTime) return 1;
  if(a.totalTries > b.totalTries) return -1;
  if(a.totalTries < b.totalTries) return 1;
  if(a.name < b.name) return -1;
  return 1;
}

function sameRank(a, b) {
  if(a.nbSolved > b.nbSolved) return false;
  if(a.nbSolved < b.nbSolved) return  false;
  if(a.totalTime < b.totalTime) return false;
  if(a.totalTime > b.totalTime) return false;
  return true;
}

function getRandomInt(max) {
  return Math.floor(Math.random() * Math.floor(max));
}

function genRandomTimes(teams, nbProblems, duration) {
  var averages = [ ];
  var minimums = [ ];
  var globalMin = duration;
  for(var p = 0; p < nbProblems; p++) {
    var total = 0;
    var count = 0;
    var min = duration;
    for(var t = 0; t < teams.length; t++) {
      if(teams[t].times[p] < INF) {
        total += teams[t].times[p];
        count += 1;
        min = Math.min(teams[t].times[p], min);
      }
    }
    if(count == 0) {
      averages.push(duration);
    } else {
      averages.push(Math.floor(total / count));
    }
    minimums.push(min);
    globalMin = Math.min(globalMin, min);
  }
  for(var t = 0; t < teams.length; t++) {
    teams[t].wrongTries = [ ];
    /*
    for(var p = 0; p < nbProblems; p++) {
      console.log(t + ' ' + p + ' tries: ' + teams[t].tries[p] + ' time: ' + teams[t].times[p]);
      var wt = [ ]
      var set = new Set();
      var nbTries = teams[t].tries[p];
      if(teams[t].times[p] < 1000000000) nbTries -= 1;
      f = gaussian(averages[p], 1);
      while(wt.length < nbTries) {
        var time = getRandomInt(duration);
        if(!set.has(time) && time >= Math.max(1, Math.max(globalMin - 2, 0.75 * minimums[p])) && time <= Math.min(teams[t].times[p] - 1, duration)) {
          set.add(time);
          wt.push(time);
        }
      }
      wt.sort();
      teams[t].wrongTries.push(wt);
    }
    */

  }
}

function readTextFile(file) {
    var text = null;
    var rawFile = new XMLHttpRequest();
    rawFile.open("GET", file, false);
    rawFile.onreadystatechange = function () {
        if(rawFile.readyState === 4) {
            if(rawFile.status === 200 || rawFile.status == 0) {
                text = rawFile.responseText;
            }
        }
    }
    rawFile.send(null);
    return text;
}

function gaussian(mean, stdev) {
    var y2;
    var use_last = false;
    return function() {
        var y1;
        if(use_last) {
           y1 = y2;
           use_last = false;
        }
        else {
            var x1, x2, w;
            do {
                 x1 = 2.0 * Math.random() - 1.0;
                 x2 = 2.0 * Math.random() - 1.0;
                 w  = x1 * x1 + x2 * x2;               
            } while( w >= 1.0);
            w = Math.sqrt((-2.0 * Math.log(w))/w);
            y1 = x1 * w;
            y2 = x2 * w;
            use_last = true;
       }

       var retval = mean + stdev * y1;
       if(retval > 0) 
           return retval;
       return -retval;
   }
}


</script>
