
<div class="container-fluid">
  <h3 id="title">Scoreboard</h3>
  <div id="timeleft"></div>
  <div class="progress">
    <div id="bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"><span class="sr-only">0% Complete</span>
  </div>
</div>

<table class="table">
  <thead>
    <tr id="tableheader">
      <th>Rank</th>
      <th class="name">Team</th>
      <th class="name">University</th>
      <th class="problems">Solved</th>
      <th class="score">Time</th>
      {{#times contest.nb_problems}}
        <th class="text-center">{{alphabet this}}</th>
      {{/times}}
    </tr>
  </thead><tbody id="tablebody"></tbody>
  <tbody>

  </tbody>
</table>

<div id="contest-data" style="display: none;">{{json contest}}</div>

<script>


const data = document.getElementById('contest-data').textContent;
var contest = JSON.parse(data);
var timeNow = new Date();
var startTime = new Date(contest.createTime);
startTime.setSeconds(startTime.getSeconds() + contest.wait);

console.log(timeNow);
console.log(startTime);

console.log(startTime - timeNow);
console.log(new Date(startTime - timeNow));

fillScoreboard(0, contest.teams);

if(timeNow < startTime) {
  var wait = Math.ceil((new Date(startTime - timeNow)) / 1000);
  console.log(wait);
  setWaitTimeLeft(wait);
  waitTimer = setInterval(function() {
    timeNow = new Date();
    wait = Math.ceil((new Date(startTime - timeNow)) / 1000);
		setWaitTimeLeft(wait);
    if(wait <= 0) {
		  clearInterval(waitTimer);
      simulate(contest, startTime);
    }
	}, 100);
} else {
  simulate(contest, startTime);
}

function simulate(contest) {
  var curTime = new Date();
  var time = Math.floor((curTime - startTime) / (60000 / contest.speed));    
  if(time > contest.duration) {
    fillScoreboard(contest.duration, contest.teams);
    document.getElementById('bar').className = 'progress-bar progress-bar-striped'
    document.getElementById('bar').style = 'width: 100%';  
  } else  {
    timer = setInterval(function() {
      var curTime = new Date();
      var time = Math.floor((curTime - startTime) / (60000 / contest.speed));
      setTimeLeft(contest.duration, time);
      if(time > contest.duration) {
        fillScoreboard(contest.duration, contest.teams);
        document.getElementById('bar').className = 'progress-bar progress-bar-striped'
        document.getElementById('bar').style = 'width: 100%';
        clearInterval(timer);
      } else {
        var percent =  Math.floor(100 * time / contest.duration);
        document.getElementById('bar').style = 'width: ' + percent + '%';
        fillScoreboard(time, contest.teams);
      }
    }, 1000);
  }
}

function fillScoreboard(time, teams) {
  var curTeams = [ ];
  for(var i = 0; i < teams.length; i++) {
    var team = { };
    team.name = teams[i].name;
    team.university = teams[i].university;
    team.tries = [ ];
    team.times = [ ];
    var nbSolved = 0;
    var totalTime = 0;
    var totalTries = 0;
    for(var j = 0; j < teams[i].times.length; j++) {
      if(time >= teams[i].times[j]) {
        team.times.push(teams[i].times[j]);
        team.tries.push(teams[i].tries[j]);
        nbSolved += 1;
        totalTime += teams[i].times[j] + 20 * (teams[i].tries[j] - 1);
      } else {
        var tries = 0;
        for(var k = 0; k < teams[i].wrongTries.length; k++) {
          if(time >= teams[i].wrongTries[j][k]) {
            tries++;
            totalTries += 1;
          }
        }
        team.times.push(-1);
        team.tries.push(tries);
      }
    }
    team.totalTries = totalTries
    team.nbSolved = nbSolved;
    team.totalTime = totalTime;
    curTeams.push(team);
  }
  // sort and create table
  curTeams.sort(compareTeams);
  var rank = 1;
  var elem = document.getElementById('tablebody');
  elem.innerHTML = '';
  for(var i = 0; i < curTeams.length; i++) {
    if(i > 0 && !sameRank(curTeams[i - 1], curTeams[i])) {
      rank += 1;
    }
    var row = document.createElement('tr');

    col = document.createElement('th');
    col.innerHTML = rank;
    row.appendChild(col);

    col = document.createElement('th');
    col.innerHTML = curTeams[i].name;
    row.appendChild(col);

    col = document.createElement('th');
    col.innerHTML = curTeams[i].university;
    row.appendChild(col);

    col = document.createElement('th');
    col.innerHTML = curTeams[i].nbSolved;
    row.appendChild(col);

    col = document.createElement('th');
    col.innerHTML = curTeams[i].totalTime;
    row.appendChild(col);


    for(var j = 0; j < curTeams[i].times.length; j++) {
      col = document.createElement('th');
      if(curTeams[i].times[j] >= 0) {
        col.className = 'alert alert-success text-center'
        col.innerHTML = curTeams[i].tries[j] + '/' + curTeams[i].times[j] 
      } else if(curTeams[i].tries[j] > 0) {
        col.className = 'alert alert-danger text-center'
        col.innerHTML = curTeams[i].tries[j] + ''
      }
      col.style = 'min-width: 60px;'
      row.appendChild(col);
    }
    elem.appendChild(row);
  }
}

function setTimeLeft(duration, time) {
  left = duration - time;
  if(left <= 0) {
    document.getElementById('timeleft').innerHTML = 'Contest ended';
  } else if(left >= 60) {
    h = Math.floor(left / 60);
    m = left % 60;
    if(h < 10) h = '0' + h;
    if(m < 10) m = '0' + m;
    document.getElementById('timeleft').innerHTML = 'Time left: ' + h + 'h' + m + 'm';
  } else {
    document.getElementById('timeleft').innerHTML = 'Time left: ' + left + 'm';
  }
}

function setWaitTimeLeft(seconds) {
  left = seconds;
  if(left <= 0) {
      document.getElementById('timeleft').innerHTML = 'Starting now!';
  } else if(left >= 60) {
    m = Math.floor(left / 60);
    s = left % 60;
    if(m < 10) m = '0' + m;
    if(s < 10) s = '0' + s;
    document.getElementById('timeleft').innerHTML = 'Starting in: ' + m + 'm' + s + 's';
  } else {
    document.getElementById('timeleft').innerHTML = 'Starting in: ' + left + 's';
  }
}

function compareTeams(a, b) {
  if(a.nbSolved > b.nbSolved) return -1;
  if(a.nbSolved < b.nbSolved) return  1;
  if(a.totalTime < b.totalTime) return -1;
  if(a.totalTime > b.totalTime) return 1;
  if(a.totalTries > b.totalTries) return -1;
  if(a.totalTries < b.totalTries) return 1;
  if(a.name < b.name) return -1;
  return 1;
}

function sameRank(a, b) {
  if(a.nbSolved > b.nbSolved) return false;
  if(a.nbSolved < b.nbSolved) return  false;
  if(a.totalTime < b.totalTime) return false;
  if(a.totalTime > b.totalTime) return false;
  return true;
}
</script>
